{% extends  'base.html' %}

{% block content %}
  <div class="container">
    <h2>Add Product</h2>
    <form method="POST" action="">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_name">Name:</label>
        {{ form.name }}
      </div>
      <div class="form-group">
        <label for="id_quantity">Serial No:</label>
        {{ form.serial_no }}
      </div>
      <div class="form-group">
        <label for="id_quantity">Quantity:</label>
        {{ form.quantity }}
      </div>
      <div class="form-group">
        <label for="id_category">Category:</label>
        {{ form.category }}
      </div>
      <div class="form-group">
        <label for="id_category">Reorder_level:</label>
        {{ form.reorder_level }}
      </div>
      <div class="form-group">
        <label for="id_category">Release_date:</label>
        {{ form.release_date }}
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'settings' %}" class="btn btn-secondary">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}
